body, html {
    height: 100%;
    background-color: #FBFBFB;
    color: #262626;
    font-size: 18px;
    font-family: georgia, serif;
    margin:0;
    padding:0;
    line-height: 1.6;
  }

#title {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_layer {
    height: 100%;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.graph {
    font-size: 18px;
    color: #262626;
}

a:hover span {
    color: #DF763D;
  }

.message-container {
    max-width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    display: inline-block;
    color: white;
}

.receiver {
    background-color: #0197d7;
    float: right;
}

.sender {
    background-color: #363535;
    float: left;
}

.btn {
    width: 100px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    font-size: 16px; /* Adjust the font size if needed */
    color: red;
  }

  .scatterFocus {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1)); /* Add a drop shadow effect */
  }

  #part1 {
    visibility: hidden;
  }

  #dashboard {
    position: relative; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    height: 100vh;
  }

  #scrollButton {
    display: block; 
    margin: auto; 
    margin-bottom: 2rem;
  }

/* Scrollama styling start */
#scrolly {
  position: relative;
  background-color: #FBFBFB;
  margin-bottom: 3rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-thing p {
  padding: 1rem;
  font-size: 8rem;
  font-weight: 900;
}

.part {
  padding: 25px 50px;
  margin-top: 25rem;
  opacity: 0.25;
  color: #fafafa;
  background-color: #444;
  position: -webkit-sticky;
  position: sticky;
}

.part:last-child {
  margin-bottom: 8rem;
}

.part.is-active {
  opacity: 0.9;
}

.part p {
  line-height: 25px;
  font-size: 18px;
  text-align: left;
}
/* Scrollama end */

/* Legend styling */
#legend {
  background-color: #1c1c1ccc;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  padding: 0 5px 1.5rem 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px; /* Set your desired max-width */
  opacity: 0;
}

#legend2 {
  background-color: #1c1c1ccc;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  padding: 0 5px 1.5rem 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px; /* Set your desired max-width */
  opacity: 0;
}


  .legend-title {
  font-size: 14px;
  margin-bottom: 3px;
  color: #fff;
  }

  .legend-title2 {
    font-size: 14px;
    margin-bottom: 3px;
    color: #fff;
    }

  .gradient-marks-container {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .legend-gradient {
    height: 20px; /* Adjust the height of the gradient bar as needed */
    border-radius: 5px;
    background-size: 100% 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
  }
  
  .legend-marks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    padding: 0 2px 0 2px;
    margin: 0 0 1px 0;
    position: absolute;
  }
  
  .legend-mark {
    flex: 1;
    text-align: center;
    font-size: 12px; /* Adjust the font size as needed */
    color: #fff;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }








  
  /* Dashboard styling */

  #zipInput { 
    width: 70%; 
  }

  #searchInput {
    padding: 1rem;
    width: 600px;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 1;
    display: inline-block;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

  .autocomplete {
    list-style-type: none;
    padding: 0;
    display: none;
    position: relative;
    z-index: 2;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-height: 150px;
    width: 70%;
    overflow-y: auto;
    margin: 0;
    left: 0;
    box-sizing: border-box;
  }

  .autocomplete li {
    padding: 10px;
    cursor: pointer;
  }

  .autocomplete li:hover {
    background-color: #ddd;
  }

  #searchHeader {
    font-family: georgia, serif; 
    color: #FBFBFB; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .toggleButtons { 
    display: inline-block;
    position: relative;
  }
  
  .toggle-button {
    display: inline-block;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    background-color: #EDA229;
    color: #262626;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    opacity: 0.6;
  }
  
  /* Style the active button */
  .toggle-button.active {
    background-color: #EDA229;
    opacity: 1;
  }

  #zipInfo {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 275px;
    height: 500px;
    z-index: 1;
    background-color: #e1e1e1;
    max-height: 500px; 
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
  }

  .button-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .custom-button {
    background-color: #EDA229;
    color: #262626;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    width: 200px;
    height: 50px;
    transition: transform 0.3s; /* Add transition properties */
  }
  
  .custom-button span {
    display: block; /* Ensure the text and arrow stack */
    font-size: medium;
  }
  
  .arrow-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button-text[data-text="show-less"] + .arrow-container .arrow-down {
    transform: rotate(180deg);
  }

  .custom-button:hover {
    transform: scale(1.05);
  }

  .mapboxgl-popup {
    max-width: 300px !important;
}

  .mapboxgl-popup-content {
    background-color: #e1e1e1 !important;
    font-family: Arial, sans-serif; 
    opacity: .95;
    padding: 5px !important;
}

.mapboxgl-popup-tip {
    border-top-color: #e1e1e1 !important;
    opacity: .95;
}

#zipCode {
  color: #EDA229; 
  font-weight: bold; 
  padding: 1rem 0 0 1.5rem;
}

#closeButton {
  padding-right: 1rem;
  background: transparent;
  border: transparent;
  font-weight: bold;
  font-size: 1rem;
}

#info1 {
  padding-bottom: .25rem;
}

#info1 h6 {
  color: #737373; 
  padding: 1rem 0 0 1.5rem; 
  margin-bottom: 0;
}

#info1 h2 {
  padding-left: 1.5rem;
}

#info2 h6{
  color: #737373; padding: 1rem 0 0 1.5rem; margin-bottom: 0;
}

.zipStats {
  display: flex; 
  align-items: center; 
  width: 100%;
}

#zipStats1 h2 {
  padding-left: 1.5rem; 
  padding-right: 1rem;
}

#zipStats1 div {
  flex: 1; 
  padding-bottom: 0.5rem;
}

.miniStats {
  margin-bottom: 0; 
  font-weight: bold;
}

#info3 h6 {
  color: #737373; 
  padding: 1rem 0 0 1.5rem; 
  margin-bottom: 0;
}

#zipStats2 h2 {
  padding-left: 1.5rem; 
  padding-right: 1rem
}

#zipStats2 div {
  flex: 1; 
  padding-bottom: 0.5rem;
}

#additionalStats {
  display: none; 
  padding-bottom: 1rem;
}

.extraHeads {
  padding-bottom: .25rem;
}

.extraHeads h6 {
  padding-top: 1rem; 
  margin-bottom: 0; 
  text-decoration: underline; 
  text-align: center;
}

.cityDifLabels {
  color: #737373; 
  padding: .5rem 0 0 1.5rem; 
  margin-bottom: 0;
}

.cityDifNums{
  padding-left: 1.5rem; 
  padding-right: 1rem
}

.cityDifNums span {
  font-weight: bold;
}

.censusStats {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  padding: .5rem 1.5rem 0 1.5rem;
}

.censusLabel {
  color: #737373; 
  margin-bottom: 0;
}

.censusNum {
  margin-bottom: 0; 
  text-align: right;
}

@media (min-width: 768px) {
  #scrolly {
    padding: 1rem 5rem 1rem 5rem;
  }

  .desktop_mobile {
    display: block;
  }

  #title {
    background-image: url("media/story_title_1.png");
  }

  @keyframes fade-in {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
  }

  .title_layer:nth-child(1) {
      animation: fade-in 1s 1s forwards; /* Fade in first image after 0.5s delay */
  }

  .title_layer:nth-child(2) {
      animation: fade-in 1s 1.5s forwards; /* Fade in second image after 1s delay */
  }

  .title_layer:nth-child(3) {
      animation: fade-in 1s 2s forwards; /* Fade in third image after 1.5s delay */
  }
}

@media (max-width: 767px) {
  .desktop_hero {
    display: none;
  }

  #title {
    background-image: url("media/story_title_1_mobile.png");
  }

  @keyframes fade-in {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
  }

  .title_layer:nth-child(4) {
      animation: fade-in 1s 1s forwards; /* Fade in first image after 0.5s delay */
  }

  .title_layer:nth-child(5) {
      animation: fade-in 1s 1.5s forwards; /* Fade in second image after 1s delay */
  }

  .title_layer:nth-child(6) {
      animation: fade-in 1s 2s forwards; /* Fade in third image after 1.5s delay */
  }

  #searchInput {
    width: 100%;
    left: 0;
  }

  #mobileFlex {
    display: flex;
    flex-direction: row; /* Set the direction to row */
    align-items: center; /* Align items vertically in the center */
  }

  #zipInput {
    flex: 1;
  }

  #searchHeader {
    font-size: 20px;
  }

  .toggleButtons {
    display: flex;
  }
  
  .autocomplete {
    width: inherit
  }
}